<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <!-- Estilos e fontes -->
    <link rel="stylesheet" href="./order-list.component.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap" />

    <title>Pedidos Recebidos</title>
</head>
<body>
    <section class="cozinha-pedidos">
        <header>
            <h1 class="pedidos-recebidos">Pedidos recebidos</h1>
            <!-- Data dinâmica mostrada aqui -->
            <b class="data-pedidos" id="dataPedidos">{{ dataPedidos }}</b>
        </header>

        <!-- Lista de pedidos -->
        <div class="pedido-lista">
            <article class="pedido">
                <div class="pedido-header">
                    <b class="pedido-nome">Pedido de Lucas</b>
                    <input type="checkbox" class="checkbox" checked>
                </div>
                <ul class="itens-do-pedido">
                    <li>Hambúrguer</li>
                    <li>Coca Cola</li>
                    <li>Açaí Grande</li>
                </ul>
            </article>

            <article class="pedido">
                <div class="pedido-header">
                    <b class="pedido-nome">Pedido de Gabriel</b>
                    <input type="checkbox" class="checkbox">
                </div>
                <ul class="itens-do-pedido">
                    <li>Hambúrguer</li>
                    <li>Coca Cola</li>
                    <li>Açaí Grande</li>
                </ul>
            </article>

            <article class="pedido">
                <div class="pedido-header">
                    <b class="pedido-nome">Pedido de Enio</b>
                    <input type="checkbox" class="checkbox" checked>
                </div>
                <ul class="itens-do-pedido">
                    <li>Hambúrguer</li>
                    <li>Coca Cola</li>
                    <li>Açaí Grande</li>
                </ul>
            </article>
        </div>

        <button class="btn-aceitar-pedido">Aceitar pedido</button>
    </section>
</body>
</html>
