<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="order-list.component.css">
    <title>Cozinha pedidos</title>
</head>
<body>
    <div class="container">
        <!-- <header class="header">
          <h1>Cozinha pedidos</h1>
        </header> -->
        <section class="orders">
          <div class="order completed">
            <h2>Hoje, 10/09/2024</h2>
            <ul>
              <li>Hambúrguer</li>
              <li>Coca Cola</li>
              <li>Açaí Grande</li>
            </ul>
          </div>
          <div class="order">
            <h2>Pedido de Gabriel</h2>
            <ul>
              <li>Hambúrguer</li>
              <li>Coca Cola</li>
              <li>Açaí Grande</li>
            </ul>
          </div>
          <div class="order">
            <h2>Pedido de Enio</h2>
            <ul>
              <li>Hambúrguer</li>
              <li>Coca Cola</li>
              <li>Açaí Grande</li>
            </ul>
            <button>Aceitar pedido</button>
          </div>
        </section>
      </div>
      
</body>
</html>
