<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="order-list.component.css">
    <title>Cozinha pedidos</title>
</head>
<body>
  <header>
    <h1>Pedidos recebidos</h1>
    <h3>Hoje, </h3> <!-- <span id="data"></span>> -->
  </header>
  
  <div class="pedido">
    <p>Pedido de Lucas</p>
    <ul>
      <li>Hambúrguer</li>
      <li>Coca Cola</li>
      <li>Açaí Grande</li>
    </ul>
    <input type="checkbox" id="checkbox-lucas">
    <label for="checkbox-lucas"></label>
  </div>

  <div class="pedido">
    <p>Pedido de Gabriel</p>
    <ul>
      <li>Hambúrguer</li>
      <li>Coca Cola</li>
      <li>Açaí Grande</li>
    </ul>
    <input type="checkbox">
  </div>

  <div class="pedido">
    <p>Pedido de Ênio</p>
    <ul>
      <li>Hambúrguer</li>
      <li>Coca Cola</li>
      <li>Açaí Grande</li>
    </ul>
    <input type="checkbox">
  </div>
  
  <button>Aceitar Pedido</button>

</body>
</html>
