<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./login-form.component.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
  	
  	  	
</head>
  	
  	<div class="login">
    		<div class="codingfood">
    		</div>
    		<div class="rectangle-parent" id="groupContainer">
      			<div class="group-child">
      			</div>
      			<div class="entrar">Entrar</div>
    		</div>
    		<div class="group-parent">
      			<div class="rectangle-group">
        				<div class="group-item">
        				</div>
        				<div class="e-mail">E-mail</div>
      			</div>
      			<b class="esqueci-minha-senha">Esqueci minha senha</b>
      			<div class="rectangle-container">
        				<div class="group-item">
        				</div>
        				<div class="div">*************</div>
      			</div>
    		</div>
    		<div class="coding-parent">
      			<div class="coding">Coding</div>
      			<div class="food">Food</div>
    		</div>
    		<img class="imagens" alt="ima" src="/src/imagens/hamburguerCimaLogin.png">
    		
    		<img class="captura-de-tela-2024-09-04-204" alt="" src="/src/imagens/hamburguerAbaixo.png">
    		
  	</div>
  	
  	
  	
  	
  	<!-- <script>
    		var groupContainer = document.getElementById("groupContainer");
    		if(groupContainer) {
      			groupContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body> -->

</html>
