/* Centraliza o container e estiliza o card */
.dish-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .card {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilização da tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  td {
    color: #333;
  }
  
  /* Estilização dos botões de ação */
  .delete-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }
  
  .edit-btn {
    background-color: #002aff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .edit-bnt:hover {
    background-color: #000d47;
  }
  
  /* Estilização do botão "Add New Dish" */
  .add-dish-btn {
    display: inline-block;
    text-align: center;
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .add-dish-btn:hover {
    background-color: #219150;
  }
  