<div class="dish-list-container">
  <h2>Pratos</h2>
  <div class="card">
    <table>
      <tr>
        <th>ID</th>
        <th>Prato</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Deletar / Editar </th>
      </tr>
      <tr *ngFor="let dish of dishes">
        <td>{{ dish.id }}</td>
        <td>{{ dish.name }}</td>
        <td>{{ dish.description }}</td>
        <td>{{ dish.price | currency:'BRL':'symbol' }}</td>
        <td>
          <button class="delete-btn" (click)="deleteDish(dish.id!)">Excluir</button>
          <button class="edit-btn" [routerLink]="['/edit-dish', dish.id]">Editar</button>
        </td>
      </tr>
    </table>
    <a routerLink="/add-dish" class="add-dish-btn">Adicionar Prato</a>
  </div>
</div>
