<h2>{{ isEdit ? 'Editar Pedido' : 'Novo Pedido' }}</h2>

<form [formGroup]="pedidoForm" (ngSubmit)="savePedido()">
  <div>
    <label for="status">Status:</label>
    <input type="text" id="status" formControlName="status" required>
  </div>

  <!-- Campo para exibir o nome do cliente capturado -->
  <div>
    <label for="cliente">Cliente:</label>
    <input type="text" id="cliente" [value]="customerName" disabled>
  </div>

  <!-- Remova a parte de cozinha, pois não está mais sendo usada -->
  <!--
  <div>
    <label for="cozinha">Cozinha:</label>
    <select id="cozinha" formControlName="cozinha" required>
      <option *ngFor="let cozinha of cozinhas" [ngValue]="cozinha">{{ cozinha.tipo }}</option>
    </select>
  </div>
  -->

  <button type="submit">{{ isEdit ? 'Atualizar' : 'Criar' }}</button>
</form>
