<div class="product-container">

  
  <div class="content-card">
    <div class="back-button" (click)="voltar()">
      <span>←</span>
    </div>

    <div class="search-container">
      <input 
        type="text" 
        placeholder="Pesquisar" 
        [(ngModel)]="searchTerm" 
        (input)="filterDishes()" 
        class="search-input"
      />
      <span class="search-icon">🔍</span>
    </div>

    <div class="products-list">
      <div *ngFor="let dish of filteredDishes" class="product-item">
        <div class="product-left">
          <img 
            [src]="getProductImage(dish.name)" 
            [alt]="dish.name"
            class="product-image"
          />
          <div class="product-info">
            <span class="product-name">{{dish.name}}</span>
            <span class="product-price">R$: {{dish.price | number:'1.2-2'}}</span>
          </div>
        </div>
        <input 
          type="checkbox" 
          (change)="toggleDishSelection(dish)" 
          [checked]="selectedDishes.includes(dish)"
          class="checkbox-custom"
        />
      </div>
    </div>

    <button class="add-button" [disabled]="selectedDishes.length === 0" (click)="submitOrder()">
      <span>Adicionar</span>
      <span class="total-price">R$ {{totalValue | number:'1.2-2'}}</span>
    </button>
  </div>
</div>