<div class="cardpio">
  <!-- Barra de pesquisa -->
  <div class="rectangle-parent">
    <div class="group-child">
    <input type="text" placeholder="Pesquisar pratos" [(ngModel)]="searchTerm" (input)="filterDishes()" class="pesquisar" />
  </div>
  </div>

  <!-- Bem-vindo -->
  <h2>Olá, {{ customerName }}!</h2>

  <!-- Lista de produtos disponíveis -->
  <div *ngIf="filteredDishes.length > 0" class="group-parent">
    <ul>
      <li *ngFor="let dish of filteredDishes" class="big-salad-parent">
        <!-- Imagem do prato -->
        <img [src]="dish.imageUrl" alt="{{ dish.name }}" class="dish-image" />
      
        <div class="dish-info">
          <div class="big-salad">{{ dish.name }}</div>
          <div class="r-3900">R$ {{ dish.price | number:'1.2-2' }}</div>
        </div>
        <input type="checkbox" (change)="toggleDishSelection(dish)" class="checkbox-icon" />
      </li>
    </ul>

    <!-- Exibir valor total -->
    <h4>Total: R$ {{ totalValue | number:'1.2-2' }}</h4>
  </div>

  <!-- Exibir mensagem caso não haja pratos disponíveis -->
  <div *ngIf="filteredDishes.length === 0">
    <p>Nenhum prato encontrado.</p>
  </div>

  <!-- Botão para enviar pedido -->
  <div class="rectangle-group">
    <div class="group-item">
      <button class="adicionar" (click)="submitOrder()">Adicionar</button>
      <span class="r-7600">R$ {{ totalValue | number:'1.2-2' }}</span>
    </div>
  </div>

  <!-- Exibir o status do pedido após o envio -->
  <div *ngIf="currentPedidoId">
    <h3>Status do Pedido</h3>
    <p>ID do Pedido: {{ currentPedidoId }}</p>
    <p>Status Atual: {{ pedidoStatus }}</p>
  </div>
  

</div>
