.cardpio {
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: 'Plus Jakarta Sans';
}

.rectangle-parent {
  position: relative;
  top: 20px;
  width: 354px;
  height: 56px;
  margin: 20px auto;
}

.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #948e8e;
  width: 354px;
  height: 56px;
  box-sizing: border-box;
}

.pesquisar {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 300px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  color: #8b8585;
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 326px;
  width: 24px;
  height: 24px;
}

.group-parent {
  margin: 20px auto;
  width: 359px;
  text-align: left;
}

.big-salad-parent {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
}

.big-salad {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.r-3900 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #777877;
}

.checkbox-icon {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 24px;
  height: 24px;
}

.rectangle-group {
  position: relative;
  top: 30px;
  margin: 20px auto;
  width: 356px;
  height: 56px;
  cursor: pointer;
  background-color: #ea1818;
  border-radius: 10px;
  color: #fff;
}

.group-item {
  position: relative;
  width: 356px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.adicionar {
  font-size: 18px;
  line-height: 12px;
  text-align: left;
}

.r-7600 {
  font-size: 18px;
  line-height: 12px;
  text-align: right;
}

h2 {
  margin-top: 20px;
  font-size: 36px;
  color: #ea1818;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
}

select, input {
  font-size: 18px;
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 20px);
  border: 1px solid #d4d4d4;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #ea1818;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #c01515;
}
