<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./menu-list.component.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Podkova:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="cardpio">
    		<div class="cardpio-child">
    		</div>
    		<div class="pesquisar">Pesquisar </div>
    		<div class="r-2900-wrapper">
      			<div class="r-2900">R$:  29,00</div>
    		</div>
    		<img class="search-icon" alt="" src="search.svg">
    		
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<div class="pesquisar1">Pesquisar </div>
      			<img class="search-icon1" alt="" src="search.svg">
      			
    		</div>
    		<div class="group-parent">
      			<div class="big-salad-parent">
        				<div class="big-salad">Big Salad</div>
        				<div class="r-3900">R$: 39,00</div>
      			</div>
      			<img class="hamburguer-icon" alt="" src="/src/imagens/hamburguerCardapio.png">
      			
      			<img class="checkbox-icon" alt="" src="checkbox.svg">
      			
      			<img class="check-box-24dp-5f6368-fill0-wg-icon" alt="" src="check_box_24dp_5F6368_FILL0_wght400_GRAD0_opsz24 3.svg">
      			
      			<img class="check-box-24dp-5f6368-fill0-wg-icon" alt="" src="check_box_24dp_5F6368_FILL0_wght400_GRAD0_opsz24 2.svg">
      			
    		</div>
    		<div class="image-parent">
      			<img class="hamburguer-icon" alt="" src="/src/imagens/cocaCola.png">
      			
      			<div class="coca-cola-parent">
        				<div class="coca-cola">Coca Cola</div>
        				<div class="r-800">R$:  8,00</div>
      			</div>
      			<img class="checkbox-icon" alt="" src="checkbox.svg">
      			
    		</div>
    		<div class="aa-grande-parent">
      			<div class="aa-grande">Açaí Grande</div>
      			<img class="hamburguer-icon" alt="" src="/src/imagens/acaiCardapio.png">
      			
      			<img class="checkbox-icon" alt="" src="checkbox.svg">
      			
    		</div>
    		<div class="rectangle-group" id="groupContainer5">
      			<div class="group-item">
      			</div>
      			<div class="adicionar">Adicionar </div>
      			<div class="r-7600">R$ 76,00</div>
    		</div>
    		<img class="keyboard-return-icon" alt="" src="keyboard_return.svg" id="keyboardReturnIcon">
    		
  	</div>
  	
  	
  	
  	
  	<script>
    		// var groupContainer5 = document.getElementById("groupContainer5");
    		// if(groupContainer5) {
      		// 	groupContainer5.addEventListener("click", function (e) {
        	// 			// Add your code here
      		// 	});
    		// }
    		
    		// var keyboardReturnIcon = document.getElementById("keyboardReturnIcon");
    		// if(keyboardReturnIcon) {
      		// 	keyboardReturnIcon.addEventListener("click", function (e) {
        	// 			// Add your code here
      		// 	});
    		// }
    </script></body>
</html>

<h1> parei aqui!!!</h1>