.pedido-pronto {
    position: absolute;
    top: 99px;
    left: 30px;
    line-height: 12px;
}
.hoje-10092024 {
    position: absolute;
    top: 120px;
    left: 30px;
    font-size: 24px;
    line-height: 12px;
    display: flex;
    text-align: left;
    align-items: center;
    width: 231px;
    height: 28px;
}
.retangulo-do-pedido {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 340px;
    height: 160px;
}
.pedido-de-lucas {
    position: absolute;
    top: 27px;
    left: 17px;
    line-height: 12px;
}
.hambrguer {
    margin-bottom: 0px;
}
.hambrguer-coca-cola-aa-gran {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 27px;
}
.itens-do-pedido-container {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 153px);
    line-height: 25px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 180px;
}
.retangulo-do-pedido-parent {
    position: absolute;
    top: 189px;
    left: 26px;
    width: 340px;
    height: 160px;
    text-align: left;
}
.pedido-enviado-child {
    position: absolute;
    top: 759px;
    left: 18px;
    border-radius: 10px;
    background-color: #ea1818;
    width: 356px;
    height: 56px;
    cursor: pointer;
}
.enviar-pedido {
    position: absolute;
    top: calc(50% + 350px);
    left: calc(50% - 98px);
    line-height: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 197px;
    height: 22px;
}
.keyboard-return-icon {
    position: absolute;
    top: 27px;
    left: 27px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.pedido-enviado {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    height: 852px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: 'Plus Jakarta Sans';
}


body {
    margin: 0;
    line-height: normal;
}

