<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./request-sent.component.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@300;400;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="pedido-enviado">
    		<div class="pedido-pronto">Pedido pronto</div>
    		<b class="hoje-10092024">Hoje, 10/09/2024</b>
    		<div class="retangulo-do-pedido-parent">
      			<div class="retangulo-do-pedido">
      			</div>
      			<b class="pedido-de-lucas">Pedido de Lucas</b>
      			<div class="itens-do-pedido-container">
        				<ul class="hambrguer-coca-cola-aa-gran">
          					<li class="hambrguer">Hambúrguer</li>
          					<li class="hambrguer">Coca Cola</li>
          					<li>Açaí Grande</li>
        				</ul>
      			</div>
    		</div>
    		<div class="pedido-enviado-child" id="rectangle">
    		</div>
    		<div class="enviar-pedido">Enviar pedido</div>
    		<img class="keyboard-return-icon" alt="" src="keyboard_return.svg" id="keyboardReturnIcon">
    		
  	</div>
  	
  	
  	
  	
  	<script>
    		
</html>